@import 'btns.scss';

$primary-color: #1d7373;
$secondary-color: #777;
$background-active-color: #fff;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 30px;
  color: $primary-color;
}

.exit {
  display: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: $primary-color;
  &:active {
    transform: scale(1.1);
    color: #009999;
  }
}

.row {
  display: flex;
  justify-content: center;
  gap: 100px;

  &__col {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

.form {
  box-shadow: 1px 2px 1px 1px $secondary-color;
  padding: 20px;

  &__header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
}

.form .form__body {
  padding-bottom: 15px;
}

.form .form__control {
  display: flex;
  gap: 20px;
  padding: 10px;
  .my-contacts {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts {
  flex-basis: 15%;
  box-shadow: 1px 2px 1px 1px $secondary-color;
  padding: 15px;
}

.contact {
  padding: 5px 25px;
  border: 1px solid #006363;
  border-radius: 3px;
  margin-bottom: 8px;
}

.authorized {
  justify-content: space-around;
  margin-left: 45px;
  margin-right: 45px;
}

.authorized-screen {
  display: none;
}

.active-contact {
  background-color: $primary-color;
  color: $background-active-color;
}

.wrapper {
  flex-basis: 15%;
  box-shadow: 1px 2px 1px 1px $secondary-color;
  padding: 15px;
  height: min-content;
}

.my-contacts-list {
  list-style: none;
  padding-left: 0;
}

.my-contacts-list-item {
  box-shadow: 1px 2px 1px 1px $secondary-color;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
}

.adding-contacts {
  flex-basis: 15%;
}

.find-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  min-width: 80px;
}

.modal-window {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  &__window {
    min-width: 300px;
    background-color: $background-active-color;
    border-radius: 5px;
  }
  &__body,
  &__footer {
    padding: 20px;
  }
  &__footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
  }
}
